/voidreader-distribution/target/
/voidreader-code/target/
/voidreader-packagign/target/
/voidreader-packaging/target/
/voidreader-packaging - Copy/target/
/voidreader-packaging/voidreader-jar/target/
/voidreader-packaging/voidreader-distribution/target/
/voidreader-resources/target/
/voidreader-fonts/target/
/voidreader-web/target/